[submodule "Backend"]
	path = Backend
	url = https://github.com/PA-RVJV/Backend.git
[submodule "Doc/assets/picocss"]
	path = Doc/assets/picocss
	url = https://github.com/picocss/pico.git
	branch = v2
[submodule "ThirdParty/Lua"]
	path = ThirdParty/Lua
	url = https://github.com/walterschell/Lua.git
